{% extends '::dream.html.twig' %}

                {% block content %}
                    <div id="page-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Espace administration</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    <li class="" style="width: 25%;">
                                        <a 
                                        	href="{{ path('er_ajout') }}" 
                                        	data-toggle="tab"
                                        	onclick="return location.href=this.href"
                                        >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        	Ajouter
                                        </a>
                                    </li>
                                    <li class="" style="width: 25%;">
                                        <a 
                                        	href="{{ path('er_cherche') }}" 
                                        	data-toggle="tab"
                                        	onclick="return location.href=this.href"
                                        >
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        	Listes
                                    	</a>
                                    </li>
                                    <li class="active" style="width: 25%;">
                                        <a 
                                        	href="{{ path('er_admin') }}" 
                                        	data-toggle="tab"
                                        	onclick="return location.href=this.href"
                                        >
                                        <i class="glyphicon glyphicon-lock"></i>
                                        	Admin
                                        </a>
                                    </li>
                                    <li class="" style="width: 25%;">
                                        <a 
                                            href="#tabaides" 
                                            data-toggle="tab"
                                            onclick="return false;"
                                        >
                                            <i class="glyphicon glyphicon-question-sign"></i>
                                            Aides
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <br>
                                    <div class="alert alert-danger">
                                        <strong>Attention !</strong> 
                                        Cette page est reservée à l'administarteur
                                    </div>                                    
                                </div>
                            </div>
                        </div>                        
                    </div>
                {% endblock %}