{% extends '::membre.html.twig' %}

	{% block content %}
	<style type="text/css">
		td {
			border: none !important;
			color: white !important;
		}
	</style>
		<div 
			class="row" 
			style="border: 1px solid black; margin-top: 10px; background: #d80c0c; color: white; text-align: center;"
		>
			<div class="col-md-12">
				<div class="label label-info">
					Cette page est reservée à l'administration
				</div>
			</div>
		</div>
	{% endblock %}